<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gamer Nation</title>
    <link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="../../style.css">
  </head>
  <body>
    <nav>
        <button><a href="/games">List of games </a> </button>
        
        <button><a href="/games/new">Add a new game</a> </button>

        <button><a href="/users/signin">Signin</a></button>

        <button><a href="/users/register">Make an Account</a></button>


    </nav>