<%- include('./partials/header.ejs') %>

<h1>GAMER NATION</h1>

<p>Welcome to Gamer Nation!!</p>
<p>This is a space for all gamers alike casuals, try-hards, or people just looking to connect with different gaming communities</p>

<p>Make sure to register and sign in so you can experience all we have to offer</p>

<p>Enjoy the site!</p>






<%- include('./partials/footer.ejs') %>