body {
  background: #000000;
  font-family: tahoma, arial;
  font-size: 15px;
  color: #cc1f1f;
  font-weight: normal;
  line-height: 15px;
  margin: 0;
  padding: 0;
  text-align: center;
}

h4 {
  color: #e7b12d;
}

* html body {
  line-height: 20px;
}

a:link {
  color: #e7b12d;
  font-weight: bold;
  text-decoration: none;
}

a:visited {
  color: #e7b12d;
  font-weight: bold;
  text-decoration: none;
}

a:hover,
a:active {
  color: #ffffff;
  font-weight: bold;
  text-decoration: underline;
}

#footer a:link {
  color: #92e80b;
  font-weight: bold;
  text-decoration: none;
}

#footer a:visited {
  color: #92e80b;
  font-weight: bold;
  text-decoration: none;
}

#footer a:hover,
#footer a:active {
  color: #ffffff;
  font-weight: bold;
  text-decoration: underline;
}

#nav a:link {
  color: #0e0707;
  display: block;
  font-size: 10px;
  font-weight: bold;
  height: 20px;
  padding-top: 6px;
  text-align: center;
  text-decoration: none;
  width: 71px;
}

#nav a:visited {
  color: #c7c6c6;
  display: block;
  font-size: 10px;
  font-weight: bold;
  height: 20px;
  padding-top: 6px;
  text-align: center;
  text-decoration: none;
  width: 71px;
}

#nav a:hover,
#nav a:active {
  color: #ffffff;
  display: block;
  font-size: 10px;
  font-weight: bold;
  height: 20px;
  padding-top: 6px;
  text-align: center;
  text-decoration: none;
  width: 71px;
}
